@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% / 2)); } /* exact half width for duplicated content */
}

.animate-marquee {
  animation: marquee 6s linear infinite;
}

